# Log file
*.log
*.logs

.gradle
**/build/

# IntelliJ IDEA
.idea
bin/
.kotlin/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Benchmark
__pycache__
venv/
valueflow-out-gll-based/
taint-out/
taint-out-gll-based/
taint_additional-out-gll-based/
graphs_unlimited-out-gll-based/
plots/
